<div class="pure-g-r">

    <div class="pure-u-1-6">
    	<img src="{{asset('assets/img/makotoinvestments.png')}}" />
    </div>

    <div class="pure-u-1-6">
    	帮助
    	<ul>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    	</ul>
    </div>
    
    <div class="pure-u-1-6">
    	广告
    	<ul>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    	</ul>
	</div>

    <div class="pure-u-1-6">
    	目录
    	<ul>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    	</ul>
	</div>

    <div class="pure-u-1-6">
    	企业
    	<ul>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    	</ul>
	</div>

    <div class="pure-u-1-6">
    	媒体
    	<ul>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    		<li>Makoto Global</li>
    	</ul>
	</div>
</div>

<h4>©Makoto 2014</h4>