<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Makoto Global</h1>
        <p class="splash-subhead">
             The "Makoto way" its in our DNA
        </p>
        <p>
            <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
        </p>
    </div>
</div>