<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block meta %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/pure-min.css') }}" />

        <!--[if gt IE 8]><!-->
        {% block stylesheets %}{% endblock %}
        <!--<![endif]-->        
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        
        {% block javascripts %}{% endblock %}
    </head>

    <body>

        {% block main %}
        {% endblock %}


        
    </body>
</html>
