<div class="l-box-lrg is-center pure-u-1 pure-u-med-1-2 pure-u-lrg-2-5">
    
</div>
<div class="pure-u-1 pure-u-med-1-2 pure-u-lrg-3-5">

    <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor.
    </p>
</div>